.rankingMember {
  height: 240px;
  overflow: hidden;
  .wrapElement {
    height: 24px;

    .rankingElement1 {
      display: flex;
      margin-bottom: 8px;
      width: 180px;
      height: 24px;
      overflow: hidden;
    }
  }
}

.rankingIndex {
  margin-right: 8px;
  width: 20px;
}
.rankingLevel {
  margin-right: 8px;
  width: 20px;
}
.rankingNickname {
  margin-right: 8px;
  width: 80px;
}
.rankingExperience {
  margin-right: 8px;
}

.rankingAnimation {
  animation: show 0.5s linear;

  @keyframes show {
    0% {
      opacity: 0;
      margin-top: -10px;
    }
    33% {
      margin-top: -5px;
    }
    38% {
      margin-top: -3px;
    }
    66% {
      margin-top: -2px;
      opacity: 0.5;
    }
    71% {
      margin-top: -1px;
      opacity: 0.7;
    }
    100% {
      margin-top: 0px;
      opacity: 1;
    }
  }
}

.rankingTitle {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  padding: 8px;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}

.rank-enter-active {
  animation: rank 2s ease-out forwards;
}

@keyframes rank {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 1;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
